---
import PixelSprite from "./PixelSprite.astro";
import { pixelNinja, pixelNinjaCrouching } from "./sprites";
---

<div aria-hidden="true" class="pointer-events-none fixed inset-0 z-0 hidden xl:block">
  <!-- Left: crouching ninja, slow sway -->
  <div
    class="absolute left-6 bottom-10"
    style="animation: ninja-sway 5s ease-in-out infinite;"
  >
    <PixelSprite
      sprite={pixelNinjaCrouching.sprite}
      palette={pixelNinjaCrouching.palette}
      pixelSize={5}
      style="filter: drop-shadow(0 0 6px rgba(233,121,23,0.25));"
    />
  </div>

  <!-- Right: standing ninja, different sway phase -->
  <div
    class="absolute right-6 top-[28%]"
    style="animation: ninja-sway 6s ease-in-out -2s infinite;"
  >
    <PixelSprite
      sprite={pixelNinja.sprite}
      palette={pixelNinja.palette}
      pixelSize={5}
      style="filter: drop-shadow(0 0 6px rgba(233,121,23,0.2));"
    />
  </div>
</div>
